*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
*.dll
*.exe
*.o
*.so
*.com
*.class
*.log
logs/
*.dmg
*.iso
*.tar
*.zip
*.gz
.Trashes
.Thumbs.db
.ehthumbs.db
#=> VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json